# name: test/sql/proxy/proxy_with_auth_via_secret__{{ suffix }}.test
# description: test azure extension with a proxy requiring an authentication
# group: [proxy]

require-env AZURE_STORAGE_CONNECTION_STRING

require-env HTTP_PROXY_RUNNING

{{ & azure_requires }}

statement ok
SET azure_storage_connection_string = '${AZURE_STORAGE_CONNECTION_STRING}';

statement ok
SET azure_http_proxy = 'http://localhost:3129';

statement ok
SET azure_proxy_user_name = 'john';

statement ok
SET azure_proxy_password = 'doe';

query I
SELECT count(*) FROM '{{ env.DATA_DIR }}/l.csv';
----
60175
