# name: test/sql/proxy/proxy_via_secret__{{ suffix }}.test
# description: test azure extension with a simple proxy but configured with DuckDB secret
# group: [proxy]

require-env AZURE_STORAGE_CONNECTION_STRING

require-env HTTP_PROXY_RUNNING

{{ & azure_requires }}

# Start with default provider
statement ok
CREATE SECRET azure_authn (
    TYPE AZURE,
    CONNECTION_STRING '${AZURE_STORAGE_CONNECTION_STRING}',
    http_proxy 'http://localhost:3128'
)

query I
SELECT count(*) FROM '{{ env.DATA_DIR }}/l.csv';
----
60175
