# name: test/sql/authn/access_token__{{ suffix }}.test
# description: test access-token authentication
# group: [authn]

##
# CI/cloud specific authn test, so don't include standard authn block
#
require-env AZURE_ACCESS_TOKEN

require-env AZURE_STORAGE_ACCOUNT

{{ & azure_requires }}

# precondition: clear out any leftover secrets to be sure
# confirm no access, then confirm access
statement ok
DROP SECRET IF EXISTS {{ env.AZURE_PROTOCOL }}_authn;

statement error
SELECT count(*) FROM '{{ env.DATA_DIR }}/l.parquet';
----
Invalid Input Error: No valid Azure credentials found!

statement ok
CREATE SECRET {{ env.AZURE_PROTOCOL }}_authn (
    TYPE AZURE,
    PROVIDER ACCESS_TOKEN,
    ACCESS_TOKEN '${AZURE_ACCESS_TOKEN}',
    ACCOUNT_NAME '${AZURE_STORAGE_ACCOUNT}',
    SCOPE '{{ env.AZURE_PROTOCOL }}://'
)

query I
SELECT count(*) FROM '{{ env.DATA_DIR }}/l.parquet';
----
60175
