# name: test/sql/authn/persistent_secret_p1_create__{{ suffix }}.test
# description: test azure extension persistent secrets
# group: [authn]

##
# this test is not a singleton -- needs to be manually run first, in front of persistent_secret_p2_use
#

# implies -> local/azurite only
require-env AZURE_STORAGE_CONNECTION_STRING

require-env TESTING_AZURE_PERSISTENT_SECRET 1

{{ & azure_requires }}

statement ok
RESET secret_directory;

statement ok
SET allow_persistent_secrets=true;

statement ok
CREATE OR REPLACE PERSISTENT SECRET persistent_azure_authn (
    TYPE AZURE,
    CONNECTION_STRING '${AZURE_STORAGE_CONNECTION_STRING}'
);

# Read a column from a parquet file
query I
SELECT sum(l_orderkey) FROM '{{ env.DATA_DIR }}/l.parquet';
----
1802759573
